
#body{
  height: 100%;
  width: 1024px;
  margin: 0 auto; /*body를 중간에 위치시킴*/
  padding-bottom: 24px;
}

#banner{
  height: 300px;
  margin-bottom: 10px;
}
#banner > img{
  width:100%;
  height: 300px;
}
#body > h1{
  margin-top: 16px;
}
#product-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 12px;
  margin-left: 10px;
}
.product-card{
  width: 180px;
  height: 265px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1.5px solid rgb(230,230,230);
  border-radius: 20px; /* 카드의 모서리를 둥글게 */
  overflow: hidden; /* 이미지가 border를 가리는 것을 방지 */
  /* position: relative; */
}
.product-img{
  width: 90%;
  height: 162px;
  margin-left: 8px;
  margin-top: 8px;
}

.product-contents{
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.product-name{
  font-size: 14px;
  margin-bottom: 3px;
}
.product-price{
  font-size: 16px;
  font-weight: 600;
}

.product-seller{
  display:flex;
  align-items: center;
  margin-top: 15px;
}
.product-avatar{
  width: 24px;
}

.product-link{
  color: inherit;
  text-decoration: none; 
}